body {
    padding:0;
    margin:0;
    font: 13px Arial, Helvetica, sans-serif;
}
a {
    color: #0033CC; text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0033CC; text-decoration: underline;
}
img {
    border:0;
}
.header {
    position:relative;
    min-width:940px;
    height:35px;
    border-bottom:1px solid #CCCCCC;
}
.wrap_menu {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    padding-top:7px;
}
.float_l {
    float:left;
}
.float_r {
    float:right;
}
.wrap_content{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    width:800px;
}

.main_box_wraper {
    border:1px solid #CCCCCC;
    margin-top:10px;
}

.main_box_wraper a {
    text-decoration:none;
}

.main_box_wraper a:hover {
    text-decoration:underline;
}

.main_box_wraper h4 {
    margin:0;
}

.main_box_wraper p{
    margin:7px 0 7px;
}

.main_box_header {
    background: none repeat scroll 0 0 #F5F5F5;
    padding:5px;
}

.main_box_lists {
    padding:5px;
    border-top:1px solid #E5E5E5;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* .clearfix {display: inline-block;}  /* for IE/Mac */ /* for IE zoom: 1; display: block; */

.thread_replied_list {
    border-top:1px solid #E5E5E5;
    margin-top:10px;
    padding:10px;
}

.thread_usr_info {
    float:left;
    margin-right:15px;
}

.thread_content {
    float:left;
    width:720px;
}

.thread_content span {
    margin-bottom:15px;
    display:block
}

.thread_content_replied {
    float:left;
    width:620px;
}

.thread_reply {
    margin-top:10px;
    margin-bottom:25px;
}

.form_box {
    border:1px solid #CCCCCC;
    background: none repeat scroll 0 0 #F5F5F5;
}

.form_box textarea {
    width:99.7%;
    height:100px;
    border:1px solid #CCCCCC;
}

.form_box input[type="text"] {
    border:1px solid #CCCCCC;
    font-size: 1.2em;
    line-height: 100%;
    outline: medium none;
    width: 100%;
    margin-bottom:10px;
    display:block;
}

.form_box .form_wrap {
    padding:5px;
    border-top:1px solid #CCCCCC;
}


.paging a:hover, .paging a.selected {
    background:#999;
    color:#333;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.paging ul li {
    margin-left: 0;
    list-style: none;
    display: inline;
}

.paging ul li a {
    border-radius:3px;
    padding:5px 8px;
    background:#CCC;
    text-decoration:none;
    color:#333;
    margin-top:5px;
}

.mt10 {
    margin-top:10px;
}

.fRight {
    float:right;
}

pre {
    background-color:#F5F5F5;
    border:1px solid #CCCCCC;
    color:#444444;/*#002166;*/
    display:block;
    font-family:Monaco,Verdana,Sans-serif;
    font-size:12px;
    margin:14px 0;
    padding:12px 10px;
}

.notice {
    margin-top:10px;
    padding:5px;
    background-color:#FFFFDD;
    border:1px solid #FFD700;
    display:block;
}

.error {
    margin-top:10px;
    padding:5px;
    background-color:#FFEFEF;
    border:1px solid #CC0000;
    display:block;
}

.error ul {
    margin:0;
    padding-left:1.2em;
}